In [11]:
import pandas as pd
import numpy as np
import ast

In [3]:
ratings = {
    "2u7T5g3WNhXLNt8eXLm7iYrvR872": 0,
    "3mHQgTNdhoXXOWEsJmHvbBuOxSb2": 3,
    "4jQ4QWrm9SOsFMLIAajSZ5Usva82": 3,
    "5HBSsBrc7LSwIQyRgTqY7Zf641f2": 3,
    "7atSgfmCF7ZvgnM9qSbSoEFikfD2": 4,
    "9IRzXasJsgMDJgRKZg53Hhc9Uti1": 3,
    "EbpGnYMAbwSEXjZdZjScjd24CHi1": 2,
    "Jewf7XHNHFgjJzxSWPEHVgTF6ra2": 1,
    "JiwrisF5l4QrhHXCKj90Qk2032G2": 4,
    "KhANCE2HhQSqQNd0HJm5yVyS7st1": 1,
    "MeLjXyToMNQEWRYBnoUBbpbAt7C3": 2,
    "NYUd8KmmZfaJSr1oYTBt0y5Gsbl2": 3,
    "O5lwXKqlL2UuYGzxaPSSe7W8C5a2": 1,
    "P5RrHrryYuZXtE1QNzKDI0jtpqS2": 1,
    "P7ZnBWM7uuVkKncJrXjXLwE8jqd2": 1,
    "Pb1MbD8CBwTZ6qcjCb6BYTVutzI2": 0,
    "QRngP1wkY3a1WZl5gYR6qIF6lPj2": 1,
    "RNqrJKIl9pQvsobA8LDjExiO1h03": 2,
    "S6mTOBRCjmPpquYEDPO62ND3afg1": 2,
    "SPpu1fxdZmWB5jNCNjYrGhucjAL2": 2,
    "VFoVWtjLdXZZIejvwMN2J5zEcVO2": 2,
    "VItmCCypvlW9IGOONV6O6CoBBD33": 2,
    "VZBsnBF2obMyB36aZ3wzpKcucOl2": 1,
    "VaT8h1PGCAWfWfzcG5fZW2xucmf2": 3,
    "VcePEOBnxcMeFUjuqM2K2OIsABB3": 3,
    "W2mJKB5gljZdR8gAmpAANCoNQBH2": 0,
    "X7gEBonEbOPNxi6oFKeLrohKUfm2": 3,
    "aVeHsZYwcfc9eCoptpmrL5u6Yd43": 4,
    "bZWwLWJAF7WGlQrekXNN7CTY8nw1": 0,
    "bdKEdkTKDKY4LMXOx7SzaXPQYCV2": 2,
    "cY7XsBMBcfZ0R75OQLiasvzS4bC3": 1,
    "eIop89H3jLMR8hyKzDhCvQSNwFc2": 1,
    "edwmE4aFFtRQfYX1RzNbumGVbok1": 4,
    "jbm4Isok8iU3ygjXAzIEeTbVHVm2": 4,
    "lOD8oE1MURdtuww0e4TCOhWy3S72": 0,
    "nquOc0pqXQUCryATzculHkzHB9U2": 4,
    "qltYUsax52W1myQZPSoqzowz83S2": 2,
    "r5D2dMvmo3WmhAgA03if57j4z452": 0,
    "svgyp5e21pbsS0930QgkvdK923a2": 3,
    "u9ME9uQr7cPierYMXJwmWXjXCK33": 0,
    "umfcis3qbCWhlqndqYRkIXP4oWo1": 3,
    "uxuLXvSMSvbzSLk7tCHFz93jwbp1": 1,
    "wgMaiRnhTxZ3vv8Ak0k4NTfCf9g2": 0,
    "xMSoAclXQHUWstVzId3JCanXLTz2": 1,
    "zMvFhfdZpEfefExVpmh3pAE2rS82": 3
}

In [4]:
len(ratings)

45

In [5]:
preference_df = pd.read_csv('preferences.csv')
preference_df.head()

,user_hash,"('0022.jpg', '0326.jpg')","('0391.jpg', '0164.jpg')","('0388.jpg', '0600.jpg')","('0527.jpg', '0315.jpg')","('0448.jpg', '0673.jpg')","('0515.jpg', '0734.jpg')","('0033.jpg', '0448.jpg')","('0032.jpg', '0604.jpg')","('0502.jpg', '0483.jpg')",...,"('0125.jpg', '0356.jpg')","('0589.jpg', '0343.jpg')","('0330.jpg', '0662.jpg')","('0393.jpg', '0404.jpg')","('0469.jpg', '0653.jpg')","('0135.jpg', '0546.jpg')","('0009.jpg', '0593.jpg')","('0523.jpg', '0351.jpg')","('0356.jpg', '0558.jpg')","('0526.jpg', '0490.jpg')"
0,2u7T5g3WNhXLNt8eXLm7iYrvR872,-2.0,-2.0,-2.0,2.0,-2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3mHQgTNdhoXXOWEsJmHvbBuOxSb2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4jQ4QWrm9SOsFMLIAajSZ5Usva82,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5HBSsBrc7LSwIQyRgTqY7Zf641f2,0.0,0.0,0.0,0.0,0.0,-1.0,-1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,69AHmihCRKbJbXXM9GQ4FT7NSU32,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Extract items from the column names

In [25]:
items = []

for col_name in preference_df.columns:
    tuple_items = ast.literal_eval(col_name)
    items.append(tuple_items)
print(items[0])
# Remove duplicates by converting the list to a set
n_items = len(set(items))
n_items

('0022.jpg', '0326.jpg')

40

In [61]:
items_tuples = []

for col_name in preference_df.columns:
    tuple_items = ast.literal_eval(col_name)
    items_tuples.append(tuple_items)

# Remove duplicates by converting the list to a set
n_items = len(set(items_tuples))

# Get the list of all unique items
items = set(item for pair in items_tuples for item in pair)
# Map items to integer indices
item_to_idx = {item: idx for idx, item in enumerate(items)}

# Initialize 3D tensor
n_users = len(preference_df)
n_items = len(items)
Y = np.zeros((n_users, n_items, n_items))
# Fill in tensor
for i, user in enumerate(preference_df.index):
    for col_name, score in preference_df.loc[user].items():
        item1, item2 = ast.literal_eval(col_name)
        j, k = item_to_idx[item1], item_to_idx[item2]
        if score < 0:
            Y[i, j, k] = -1
        elif score > 0:
            Y[i, j, k] = 1
        # If score == 0 or comparison not present, Y[i, j, k] remains 0

In [59]:
Y

array([[[ 0.,  0.,  0., ...,  0.,  0., -1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.]],

       ...,

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.]]])

In [58]:
user1_df = pd.DataFrame(Y[25])
print(np.array(user1_df.where(user1_df == -1).sum()))

[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. -1.  0.  0.  0.  0.
  0.  0.  0.  0.  0. -1.  0.  0.  0.  0. -1.  0.  0.  0.  0.  0.  0.  0.
  0.]